<div class="row justify-content-around">

    <div class="col-3">
      <div class="card border-secondary text-center" style="padding-top: 5vh">
        <div class="card-title"><h1 class="display-1 text-danger"><i class="<%= first_icon %>"></i></h1></div>
        <div class="card-body">
          <p><%= first_text %></p>
          <a href="<%= first_link %>" class="btn btn-outline-danger btn-sm">Find out more</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-secondary text-center" style="padding-top: 5vh">
        <div class="card-title"><h1 class="display-1 text-warning"><i class="<%= second_icon %>"></i></h1></div>
        <div class="card-body">
          <p><%= second_text %></p>
          <a href="<%= second_link %>" class="btn btn-outline-warning btn-sm">Find out more</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-secondary text-center" style="padding-top: 5vh">
        <div class="card-title"><h1 class="display-1 text-success"><i class="<%= third_icon %>"></i></h1></div>
        <div class="card-body">
          <p><%= third_text %></p>
          <a href="<%= third_link %>" class="btn btn-outline-success btn-sm">Find out more</a>
        </div>
      </div>
    </div>

  </div>