
<div class="jumbotron jumbotron-fluid" style="margin-top: 5vh; word-wrap: break-word;">
  <div class="container text-center">
    <h1 class="display-4 montserrat-light"><%= @event.title %> </h1>
    <p class="montserrat-light">Organized by <%= link_to "#{@admin.first_name}", "mailto:#{@admin.email}", :class => "text-muted" %></p>
    <hr>
    <p class="lead lora-regular" style="padding: 5vh"><%= @event.description %></p>
    <% if  current_user == nil %>
        <%= link_to "JOIN THE EVENT !", new_event_attendance_path(params[:id]), :class => "btn btn-outline-info" %>
     <% elsif  current_user.is_admin?(@event) %>
        <%= link_to "EDIT", event_attendances_path(params[:id]), :class => "btn btn-outline-info" %>
     <% elsif  current_user.is_participant?(@event) %>
     <% else %>
        <%= link_to "JOIN THE EVENT !", new_event_attendance_path(params[:id]), :class => "btn btn-outline-info" %>
     <% end %>
  </div>
</div>


<div class="row text-center" style="margin-top: 10vh">

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @event.location %></span></h1>
        <h5 class="lora-regular">Location</h5>
    </div>

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @event.price%> €</span></h1>
        <h5 class="lora-regular">Price</h5>
    </div>

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @attendances.count%></span></h1>
        <h5 class="lora-regular"><% if @attendances.count <= 1 %>
        Participant
        <% else %>
        Participants
        <% end %></h5>
    </div>

</div>


<div class="row text-center" style="margin-top: 5vh">

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @event.start_date.strftime("%d.%m.%Y") %></span></h1>
        <h5 class="lora-regular">Start Date</h5>
    </div>

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @event.end_date.strftime("%d.%m.%Y") %></span></h1>
        <h5 class="lora-regular">End Date</h5>
    </div>

    <div class="col-4">
        <h1><span class="badge badge-dark montserrat-light"><%= @event.duration %> min</span></h1>
        <h5 class="lora-regular">Duration</h5>
    </div>

</div>